# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/

# VSCode
.vscode/

# Data
data/raw/*
data/processed/*

# Mas mantém estrutura
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment files
.env
